#registry = https://registry.npmjs.org/
#proxy = http://wsg-proxy.oecd.org:80/
#https-proxy = http://wsg-proxy.oecd.org:80/

#nexus
#registry = http://dev-entrep-1.main.oecd.org:8082/repository/npm-registry-group/
#proxy = null
#https-proxy = null

#oecd
#strict-ssl = false